<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookMyFlight</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BookMyFlight", "Index", "Airline", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Airline")</li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Airline")</li>
                    <li>@Html.ActionLink("Aircrafts", "Aircrafts", "Airline")</li>
                    <li>@Html.ActionLink("Flights", "Flights", "Airline")</li>
                    <li>@Html.ActionLink("Bookings", "Bookings", "Airline")</li>
                    <li>@Html.ActionLink("Payments", "Payments", "Airline")</li>
                    <li>@Html.ActionLink("Sells", "Sells", "Airline")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log Out", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BookMyFlight</p>
            <p>&copy; Siddikur Rahman Shohan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
